*{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Cormorant Garamond', serif;
}

.navBar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 2% 0;
  list-style-type: none;
}

.logo{
  margin-right: 72%;
}

li{
  margin: 0 1%;
}

a{
    color: black;
    text-decoration: none;
  }

h1 {
    width: 50%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h1 span { 
     background:#fff; 
     padding:0 10px; 
     font-size: 70px;
    
 }

 .mainTitle{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 9%;
 }

 #subtitle{
   margin-top: 2%;
   margin-bottom: 3%;
   font-size: 20px;
   text-align: center;
 }

 .menu{
display:flex;
justify-content: center;
align-items: center;
 }

  .garden, .sea, .land{
   width: 31%;
    line-height:2rem; 
    
 }

 .garden > div {
     text-align: center;
 }

 .sea > div{
  text-align: center;
 }

 .land > div{
  text-align: center;
 }


 .course{
   margin-bottom: 5%;
 }

 .cooks{
text-align: center;
margin: 6% 0;
font-size: 25px;
 }


.midImage{
   height: 60vh;
   background-image: url('https://images.unsplash.com/photo-1558030054-9e08299a4d4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.sweet{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%
}


.dessert{
  text-align: center;
  
}

.sweetImage{
    height: 60vh;
    background-image: url('https://images.unsplash.com/photo-1541781550486-81b7a2328578?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
     background-repeat: no-repeat;
     background-position: center;
     background-size: 90%;
}

footer{
    height:30vh;
    background-color: white;
    color:black;
    display: flex;
    margin-top:3%;
    
    }
    
    .contact{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    font-size: 20px;
    }
    
    .social{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-left: 30%;
      margin-right:34%;
      font-size: 20px;
    }
    
    .hours{
    font-size: 20px;
    }
    
    .contactTitle,
    .hoursTitle{
      font-size: 30px;
      line-height: 5rem;
    }
    
    .jun{
      font-size:30px;
      margin-top:15%;
      margin-bottom: 50%;
    }
    .yelp,
    .twit,
    .insta{
     font-size: 40px;
     
    }


    /* NEW UNADAPTED CSS FOR DRINK PAGE  */

.cocktails{
  
text-align: center;
margin-bottom: 3%;
}

.drinky{
    margin-bottom: 2%;
}

.drinkMidImage{
    height: 70vh;
    background-image: url('https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
     background-repeat: no-repeat;
     background-position: center;
     background-size: 90%;
}

.alc{
display: flex;
justify-content: center;
margin-top: 3%;
text-align: center;
margin-bottom: 10%;
}

.beer{
  margin-left: 10%;
}

/* NEW UNADAPTED CSS FOR VISIT PAGE  */

.visitTitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}

label{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instruction{
  font-size: 20px;
  margin-bottom: 3%;
  text-align: center;
}

.inputInfo{
border: 2px solid lightgrey;
background-color: lightgray;
height: 40vh;
width: 40%;
display: flex;
justify-content: center;
}

.date{
  margin: 4% 0;
}

.time{
  margin-bottom: 4%;
}

.visitInfo{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
margin-bottom: 3%;
}

.cheersPic{
    height: 70vh;
    background-image: url('https://images.unsplash.com/photo-1514828980084-9462f7d03afc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
     background-repeat: no-repeat;
     background-position: center;
     background-size: 90%;
}



/* styling for non adapted story html */

.mainHead{
    height: 89.25vh;
    width: 100%;
    display: flex;
justify-content: center;
margin: 0;
align-items: center;
background-image: url('https://images.unsplash.com/photo-1578425570232-bf51f753dd5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
background-repeat: no-repeat;
background-size: cover;
color: white;
}

.story{
    font-size: 6rem;
    font-weight: lighter;
}

.storyBio{
    display: flex;
    margin: 0;
    padding: 6%;
    width: 100%;
    
  
   
}

.headerTitle{
      font-size: 3rem;
      font-weight: lighter;
      
}


.bio{
   
   
}
.bioParagraph{
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 1.5;
    margin-left: 10% ;
}

.bio > div{
    text-align: right;
    margin-right: 2%;
}